$whitecolor: #fff;
$darkgraycolor: #444d5c;
$blackcolor: #1f1f1f;
$graycolor: #777777;
$middlegraycolor: #565656; 
$lightgraycolor: #bbbbbb;
$bggraycolor: #F7F7F7;
$bgbtn: #FAFAFA;
$bgbtnshadow: #dedede;
$btnsmall: #333333;
$btnbgrounded : #ebedf2;
$icon: rgba(255, 255, 255, 0);
$whiteicon: rgba(255, 255, 255, 1);
$bluecolor: blue;
$orangecolor: #faa33d;
$iconlightcolor: lightgray;
$twittercolor: #1DA1F2;
$fbcolor: #4267B2;