.core
{
    .core__title
    {
        font-size: 4.8rem;
        color: $blackcolor;
        &::after
        {
            content: " ";
            display: block;
            width: 20%;
            height: 1px;
            background-color: $bluecolor;
            margin: 2rem auto;
        }
    }
    .core__p
    {
        font-size: 1.9rem;
        color: $middlegraycolor;
    }
    .core__features
    {
        .features__card
        {
            width: 23.3rem;
            height: 21.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           .card__content
           { width: 23.3rem;
            height: 21.4rem;
                .content__img
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20.3rem;
                    height: 17.8rem;
                    background-color: rgb(243, 243, 243);
                    .img__card
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 10.3rem;
                        height: 7.8rem;
                        .img__source
                        {
                            width: 7.8rem;
                            height: 7.8rem;
                            filter: grayscale(1);
                        }
                    }
                }
                .content__text
                {
                    margin-top: 2rem;
                    line-height: 1rem;
                    text-align: center;
                    width: 20.3rem;
                    height: 1.6rem;
                    font-size: 1.6rem;
                    letter-spacing: .05em;
                    color: #222;
                }
            &:hover
            {
                .content__img
                {
                    background-color: hsla(0,0%,97.6%,.7);
                    box-shadow: 0 0 26px 3px #e2e2e2;
                    transition: all .5s ease-in-out;
                    .img__source
                    {
                        filter: grayscale(0);
                        transition: all .5s ease;
                    }
                }
                .content__text
                {
                    color: red;
                }
            }
           }
        }
    }
}