.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem;
    width: 151rem;
    .work
    {
        z-index: 0;
        width: 110rem;
        height: 18.2rem;
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;
        .work__btn
        {
            padding: 8rem;
        }
    }
}